.todays_date {
    margin-top: 10px;
    letter-spacing: 1px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

}

.today {
    background-color: $grey_text_colour;
    padding: 0 5px 10px 5px;
    border-radius: 5px;
}