@import "./variables";

.main_wrapper {
  @include display-flex;
  background-color: $main_colour;
  min-height: 100vh;
}

.left_sidebar {
  background-color: $gray_colour;
  width: 200px;
  padding: 20px;
}

nav {
  @include flex-column;
}

.greeting_component {
  @include display-flex;
}

.middle_component {
  padding: 20px;
  @include display-flex;
  justify-content: space-around;
  width: 100%;
  color: $main_text_colour;
}

.details_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right_sidebar {
  background-color: $gray_colour;
  border-radius: 20px;
  max-width: 400px;
  padding: 20px;
}
