$main_colour: #151515;
$lightpink_colour: #e6dff1;
$pink_colour: #DFC5DB;
$lightblue_colour: #c0dedd;
$lightcream_colour: #f1dfde;
$gray_colour: #363636;
$main_text_colour: #fff;
$grey_text_colour: #84888A;