@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #151515;
}

.App {
  max-width: 1500px;
}

nav a {
  color: #84888a;
  padding: 10px;
  text-decoration: none;
}

nav a.active {
  color: #e6dff1;
}

.nav_icon {
  margin: 3px 10px 0 0;
}

.main_wrapper {
  display: flex;
  background-color: #151515;
  min-height: 100vh;
}

.left_sidebar {
  background-color: #363636;
  min-width: 200px;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: column;
}

.greeting_component {
  display: flex;
}

.middle_component {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #fff;
}

.details_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right_sidebar {
  background-color: #363636;
  border-radius: 20px;
  max-width: 400px;
  padding: 20px;
}

.time_container {
  background-color: #f1dfde;
  width: 300px;
  max-width: 350px;
  display: flex;
  display: flex;
  flex-direction: column;
  color: #151515;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  align-items: center;
  border-radius: 20px;
}
.time_container p {
  margin: 5px;
}
.time_container .time_icon {
  font-size: 30px;
}
.time_container .time {
  color: #84888a;
}
.time_container .mins {
  font-weight: bold;
  font-size: 20px;
}

.distance_container {
  background-color: #e6dff1;
  width: 300px;
  max-width: 350px;
  display: flex;
  display: flex;
  flex-direction: column;
  color: #151515;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  align-items: center;
  border-radius: 20px;
}
.distance_container p {
  margin: 5px;
}
.distance_container .distance_icon {
  font-size: 30px;
}
.distance_container .distance {
  color: #84888a;
}
.distance_container .length {
  font-weight: bold;
  font-size: 20px;
}

.energy_container {
  background-color: #dfc5db;
  width: 300px;
  max-width: 350px;
  display: flex;
  display: flex;
  flex-direction: column;
  color: #151515;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  align-items: center;
  border-radius: 20px;
}
.energy_container p {
  margin: 5px;
}
.energy_container .energy_icon {
  font-size: 30px;
}
.energy_container .energy_burn {
  color: #84888a;
}
.energy_container .kalories {
  font-weight: bold;
  font-size: 20px;
}

.sleep_container {
  background-color: #c0dedd;
  width: 300px;
  max-width: 350px;
  display: flex;
  display: flex;
  flex-direction: column;
  color: #151515;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  align-items: center;
  border-radius: 20px;
}
.sleep_container p {
  margin: 5px;
}
.sleep_container .sleep_icon {
  font-size: 30px;
}
.sleep_container .sleep {
  color: #84888a;
}
.sleep_container .mins {
  font-weight: bold;
  font-size: 20px;
}

.water_container {
  width: 100%;
  background-color: #f1dfde;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px;
  color: #151515;
  text-align: center;
}
.water_container p {
  font-size: 20px;
}
.water_container button {
  padding: 5px 30px;
  margin: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #151515;
  color: #fff;
  cursor: pointer;
}

.todays_date {
  margin-top: 10px;
  letter-spacing: 1px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.today {
  background-color: #84888a;
  padding: 0 5px 10px 5px;
  border-radius: 5px;
}

.energy_wrapper {
  padding: 20px;
  margin: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.energy_wrapper h2 {
  margin-bottom: 10px;
}
.energy_wrapper h3 {
  font-size: 20px;
}
.energy_wrapper p {
  font-size: 20px;
  margin-bottom: 10px;
}
.energy_wrapper .stress_paragraph {
  background-color: #363636;
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}

.stress_container {
  margin-top: 20px;
}
.stress_container .mid_container {
  display: flex;
}
.stress_container h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
.stress_container .stress_box {
  display: inline;
  width: 250px;
  background-color: #c0dedd;
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
  color: #151515;
}
.stress_container li {
  margin-bottom: 15px;
} /*# sourceMappingURL=styles.css.map */
